@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');

.gesme-ext.wrapper
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 0.5% 2.5% 0.5% 2.5%;

    height: fit-content;

    font-family: 'Poppins', sans-serif;

    /* background-color: #ff000029; */
}

.gesme-ext.materia
{
    position: relative;

    /* background-color: #0800ff29; */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 0 1% 0 1%;

}

.gesme-ext.materia p{

    text-align: center;
    
}

.gesme-ext.materia .titolo{

    font-weight: 500;
    font-size: 90%;
    
}

.gesme-ext.materia .media{

    font-weight: 800;
    color: #141414; 
    width: fit-content;
    border-radius: 10%;
    border: 0;
    margin-top: -2%;
}

.gesme-ext.materia .media.low{

    background-color: #e73737;
    border: 8px solid #e73737;
}

.gesme-ext.materia .media.mid{

    background-color: #f2d648;
    border: 8px solid #f2d648;
}

.gesme-ext.materia .media.up{

    background-color: #8ce53e;
    border: 8px solid #8ce53e;
}


/* .gesme-ext.materia .media.low::before{
    content: '';
    height: 25px;
    width: 25px;
    background-color: #c21010;
    border-radius: 50%;
    display: inline-block;
}

.gesme-ext.materia .media.mid::before{
    content: '';
    height: 25px;
    width: 25px;
    background-color: #e3b92f;
    border-radius: 50%;
    display: inline-block;
}

.gesme-ext.materia .media.up::before{
    content: '';
    height: 25px;
    width: 25px;
    background-color: #8bd524;
    border-radius: 50%;
    display: block;
    position: absolute;
} */